<style>
    .img-rog-dust { height: 30px; }
    .img-rog-ingot { height: 40px;}

/* ReSharper disable once DeclarationIsEmpty */
    .itemMenu { /**/}

/* ReSharper disable once DeclarationIsEmpty */
    .count { /**/}

/* ReSharper disable once DeclarationIsEmpty */
    .price { }
</style>
<div class="row">
    <div class="col-lg-3 col-md-3 col-3" id="selectorIngot" style="background-color: antiquewhite;">
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="LythonIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/LythonIngot.png" onclick="$.rogdoll.IngotCraft.OnChange('LythonIngot');" />
            <label>Lython Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="ElinviteIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/ElinviteIngot.png" onclick="$.rogdoll.IngotCraft.OnChange('ElinviteIngot');" />
            <label>Elinvite Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="DoreniteIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/DoreniteIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`DoreniteIngot`);" />
            <label>Dorenite Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="SideriteIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/SideriteIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`SideriteIngot`);" />
            <label>Siderite Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="HeavenSteelIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/HeavenSteelIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`HeavenSteelIngot`);" />
            <label>Heaven Steel Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="LunarDwarrhiniteIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/LunarDwarrhiniteIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`LunarDwarrhiniteIngot`);" />
            <label>Lunar Dwarrhinite Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="WolfCopperIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/WolfCopperIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`WolfCopperIngot`);" />
            <label>Wolf Copper Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="BurgundIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/BurgundIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`BurgundIngot`);" />
            <label>Burgund Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="FlameSteelIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/FlameSteelIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`FlameSteelIngot`);" />
            <label>Flame Steel Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="NytinoleIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/NytinoleIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`NytinoleIngot`);" />
            <label>Nytinole Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="AtlantisiteIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/AtlantisiteIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`AtlantisiteIngot`);" />
            <label>Atlantisite Ingot</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12 itemMenu" id="BlueGoldIngotSelect">
            <img class="img-rog-ingot" src="image/ingot/BlueGoldIngot.png" onclick="$.rogdoll.IngotCraft.OnChange(`BlueGoldIngot`);" />
            <label>Blue Gold Ingot</label>
        </div>
    </div>
<div id="ingotResource" class="col-lg-6 col-md-6 col-6" style="background-color: beige">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <p>Dust</p>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <p>Count</p>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <p>Price</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/AurichalcumDust.png"/><label>Aurichalcum Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="aurichalcumDustCount" type="number" value="30" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="aurichalcumDustPrice" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/CopperDust.png"/><label>Copper Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="copperDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="copperDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/DwarrhiniteDust.png"/><label>Dwarrhinite Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="dwarrhiniteDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="dwarrhiniteDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/GoldenDust.png"/><label>Golden Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="goldenDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="goldenDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/IronDust.png"/><label>Iron Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="ironDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="ironDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/PanchromiumDust.png"/><label>Panchromium Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="panchromiumDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="panchromiumDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/SilverDust.png"/><label>Silver Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="silverDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="silverDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/TantalumDust.png"/><label>Tantalum Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="tantalumDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="tantalumDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/TitaniumDust.png"/><label>Titanium Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="titaniumDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="titaniumDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/VanadiumDust.png"/><label>Vanadium Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="vanadiumDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="vanadiumDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <img class="img-rog-dust" src="image/dust/VolframDust.png"/><label>Wolfram Dust</label>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control count" id="wolframDustCount" type="number" value="10" disabled/>
            </div>
            <div class="col-lg-3 col-md-3 col-3">
                <input class="form-control price" id="wolframDustPrice" type="number" placeholder="Price" disabled/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <label>Count: </label><input id="countIngot" type="number" min="1" value="1" onchange="$.rogdoll.IngotCraft.OnChangeCount()"/>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <label id="totalPrice">Total Price: </label>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-4">
                <input type="button" value="Calculate" onclick="$.rogdoll.IngotCraft.Calculate()"/>
            </div>
        </div>
    </div>
</div>
</div>